.section {
  padding: 10px 0;
  margin: 0 170px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation: zoomIn;
  animation-duration: 1s;
}
.section-head span {
  
  padding-bottom: 20px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #808080;
}
.section-head h2 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: #808080;
}
.section-container {
  background-color: #808080;
  width: auto;
  border-radius: 50px;
  padding: 48px;
  color: #000000;
  margin-top: 20px;
}
.section-container span {
  color : var(--darkGreen);
}
.section-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-icon svg {
  font-size: 70px;
  margin: 15px;
}
.section-icon {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.sections-icon small {
  font-size: 5px;
}
.section-container-item {
  
  display: flex;
  flex-direction: wrap;
  
}