.work-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0 0 170px;
  animation: zoomIn;
  animation-duration: 1s;
  
}
.work-project-card {
 
  display: flex;
  flex-wrap: wrap;
}
