.header {
  height: 100vh;
  width: 100%;
  animation: zoomIn;
  animation-duration: 1s;
  display:flex;
  align-items: center;
  justify-content: center;

}
.header-content {
  display:flex;
  justify-content: center;
}
.header-content img {
  padding: 15px;
  width:250px;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.header-description {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
}
.header-list {
  color: #808080;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  min-width: 250px;
  line-height: 1.4;
}
.header ul li {
  list-style-type: none;
}
.header .header-description .greeting {
  color: #808080;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.2;
}
.header .header-description h1 {
  font-size: 50px;
  color:#2e8b57;
  letter-spacing: 2px;
  margin: 5px 0;
}
.header-social-resume {
display: flex;
align-items: baseline;
margin-top: auto;
}
.header-resume {
  background-color: #2e8b57;
  padding: 10px 25px;
  border-radius: 40px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 300;
  display: inline-block;
  transition: ease-in; 
}
.header-resume a {
  text-decoration: none;
  margin : 0 3px;
  color:black;
  font-weight: bolder;
}
.socialList {
  text-decoration: none;
  margin-left: 40px;
  font-size: 35px;
  color: #2e8b57;
  display: flex;
}
.socialList li {
  margin: 0 8px;
}
.socialList li a {
  color:  #2e8b57;
}

