.project-card {
 margin: 15px 10px;
  width: 400px;
  height: auto;
  background-color: white;
  padding:15px;
  margin-bottom: 5px;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  
}
.project-content {
  display:flex;;
  flex-direction: column;
  align-items: center;
  
}
.project-content img {
  height: 100px;
  width: 150px;
}
.project-content small {
  font-size: 13px;
}
.project-content span {
  color:var(--green);
  font-size:11px;
  font-weight: bold;
}
.project-content h5 {
  font-weight: bold;
}
.project-content p{
  font-size: 13px;
}
.live-repo {
  display: flex;
  justify-content: center;
}
.live-repo a {
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  color:var(--darkGreen);
  text-decoration: none;
}