.sideMenuHide {
  display:none;
 
}

.sideMenuShow {
  left: 0;
 
}

.sidebar {

  width: 100px;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  color: Black;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.sidebar-button {
  cursor: pointer;
  position: fixed;
  height: 50px;
  width: 50px;
  padding: 10px;
  top: 35px;
  right: 25px;
  z-index: 20;
  color:var(--darkGreen)
}

.sidebar.open {
  width: 200px;
  
  
}
.sidebar .hidden-sidebar {
  display: none;
  font-weight: bold;
 
}
.sidebar.open .hidden-sidebar {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  animation: slideInLeft;
  animation-duration: 1s;

 
}
.sidebar .top-sidebar {
  width: 100%;
  margin: 0;
}

.top-sidebar p {
  text-align: center;
  padding: 30px 15px;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: var(--darkGreen);
  margin: 0;
}

.middle-sidebar {
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.middle-sidebar,
.bottom-sidebar {
  width: 100%;
}
.sidebar-list {
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  
}.sidebar-list :hover{
  color: black;
}

.sidebar-list-item {
  width: 100%;
  position: relative;
  width: 100%;
 
  list-style: none;
}
.sidebar-list .hidden-sidebar {
  margin-left: 1.5rem;
  white-space: nowrap;
 
}

.sidebar-icon {
 stroke: black;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  
}
.sidebar.open .sidebar-icon {
  width: 24px;
  height: 24px;
  margin-left:10px;
 
}

.sidebar-link {
  text-decoration: none;
  color: #000000;
  position: relative;
  width: 100%;
  padding: .5rem .5rem;
  display: flex;
  align-items: center;
  
 
}
.sidebar.open .sidebar-link {
  justify-content: flex-start;
 
}
.sidebar.open .sidebar-list-item:hover {
  background-color: var(--grey);
  color: var(--black);
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
}
.bottom-sidebar {
  display:flex;
  flex-direction: column;
  align-items: center;
}
