:root {
  --green : #2e8b57;
  --darkGreen :#1d5736;
  --grey :#808080;
  --black: #000000;
  --animation-duration: 1000ms;
  --animation-timing-curve: ease-in-out;
  }


*, *::before, *::after {
  box-sizing: border-box;
}


body {
  background-color: black;
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
 
  margin: 0 auto;
  width: 250px;
  height: 300px;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
